//  Table of Contents:
//
//   1. Fonts
//   2. Colors
//   3. Breakpoints


// 1. Fonts

$base-font-family: 'Exo 2', Helvetica, Arial, sans-serif;
$base-font-size: 13px;


// 2. Colors

$text-color: #2000B7;
$text-color-light: #2700de;
$grey: #272828;
$grey-light: #999797;
$beige: #cbcbc9;
$beige-light: #f0efec;
$green: #b4cc1b;
$green-soft: #848e40;
$green-dark: #677331;
$orange: #e8491e;
$orange-light: #ee6b4d;
$turquoise: #26F2B2;
$turquoise-light: #5ef5c6;
$violet: #9d6bc9;


// 3. Breakpoints



// $xs: 800px;
$sm: 768px;
$md: 980px;
$lg: 1280px;
$xl: 1440px;
// $xxl: 1920px;
